---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Fabián Ibacache</h1>
			<p class="hero__text">
				Ingeniero Comercial y atleta de resistencia que transforma ideas en resultados a través del marketing y la gestión de equipos.
				Combino la resiliencia de la montaña y la disciplina de un maratón con estrategias creativas para impulsar cada proyecto hacia la cima.
				
			</p>
			<Boton href="#" texto="Quiero saber más"/>
		</div>
    <img
		class="hero__img"
		src="/img/jhon-doe.webp"
		alt="Jhon Doe"
		width="384"
    	height="384"
	/>
	</div>
</section>
