---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Perfil híbrido que fusiona la estrategia del marketing digital con la ejecución técnica y la visión de producto.
			Utilizo el diseño Adobe, Canva, Figma, 3D Ultimated para conceptualizar soluciones, y mi rol como Desarrollador Full Stack Python para construirlas.
			Lidero el ciclo completo de vida del producto, desde la idea inicial hasta el código final y su lanzamiento.
		</p>
	</div>
</section>
