---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Soy un Ingeniero Comercial que vive con la misma pasión los desafíos en la montaña y en los negocios. Mi motor es la disciplina y la planificación, habilidades que he forjado corriendo maratones de 42k, 21k y conquistando cumbres como la Falsa Parva, el Cerro Minillas, Cerro Tarapaca en modo Trail Running. Cada meta deportiva es un entrenamiento para la resiliencia y la estrategia que aplico en mi trabajo.

Esta energía se complementa con mi lado creativo, alimentado por los viajes en familia y la satisfacción de crear con mis propias manos, ya sea armando muebles o mejorando un espacio. Me considero una persona analítica y resolutiva, con una natural habilidad para conectar con la gente, lo que a menudo me lleva a ser el anfitrión en eventos sociales.

Profesionalmente, canalizo esta fusión de talentos en el marketing creativo, la gestión de ventas y el liderazgo de proyectos deportivos, guiando a equipos multidisciplinarios a alcanzar sus propias cumbres.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
